<html>
	<head>
		<title>Simple evaluator</title>
		<link rel="stylesheet" type="text/css" href="../static/database.css">
	</head>
	<body>
		<center>
			<table width="100%">
			<tr><th>user id</th><th>expression</th><th>ip address</th><th>time</th><th>is complete</th></tr>
				{% for uid, expr, ipaddr, time, res in table %}
            	<tr><td>{{ uid }}</td><td>{{ expr }}</td><td>{{ ipaddr }}</td><td>{{ time }}</td><td>{{ res }}</td></tr>
         		{% endfor %}
			</table>
    	</center>
	</body>
</html>
