<html>
	<head>
		<title>Simple evaluator</title>
        <link rel="stylesheet" type="text/css" href="../static/input.css">
		<script type="text/javascript">
			function setFocusToTextBox() {
 			   document.getElementById("input").focus();}
		</script>
	</head>
	<body onload="setFocusToTextBox()">
		<center>
			<form action = "{{path}}login" method = "post">
	           <p>Enter expression:</p>
	           <p>
                   <input type = "text" class="de-input" placeholder="input expression..." name = "nm" id="input" />
                   <input type="submit" value = "Evaluate!" />
               </p>
	        </form>
    	</center>
	</body>
</html>
